<div class="row set">
  <h1 style="text-align:center;">マイページ</h1><br>
  <div class="columns large-6" style="text-align:center;">
    <h3><%= @user.name %>さんが選書した本</h3><hr>
    <div class="parent">
      <% @chooses.each do |choose| %>
        <a href="/categories/<%= choose.book_id %>" class="child">
          <%= image_tag Book.find(choose.book_id).image_url, class: 'book' %>
        </a>
      <% end %>
    </div>
  </div>
  <div class="columns large-6" style="text-align:center;">
    <h3><%= @user.name %>さんが<i class="fa fa-heart liked"></i>した本</h3><hr>
    <div class="parent">
      <% @likes.each do |like| %>
        <a href="/categories/<%= like.book_id %>" class="child" >
          <%= image_tag Book.find(like.book_id).image_url, class: 'book' %>
        </a>
      <% end %>
    </div>
  </div>
</div>
