<div class="back-ground" style="background-image:url(<%= asset_path "library.jpg" %>)" /></div>
<div class="toppage">
  <br><br>
  <div><%= link_to '選書する', categories_category_path() %></div>
  <br><br>
  <div><%= link_to '掲示板', posts_path() %></div>
  <br><br>
  <div><%= link_to '選書する', categories_category_path() %></div>
  <br><br>
  <div><%= link_to '掲示板', posts_path() %></div>
  <br><br>
  <div><%= link_to '選書する', categories_category_path() %></div>
  <br><br>
  <div><%= link_to '掲示板', posts_path() %></div>
  <br><br>
  <div><%= link_to '選書する', categories_category_path() %></div>
  <br><br>
  <div><%= link_to '掲示板', posts_path() %></div>
  <br><br>
  <div><%= link_to '選書する', categories_category_path() %></div>
  <br><br>
  <div><%= link_to '掲示板', posts_path() %></div>
  <br><br>
  <div><%= link_to '選書する', categories_category_path() %></div>
  <br><br>
  <div><%= link_to '掲示板', posts_path() %></div>
</div>
