<%= simple_form_for @comment, url: { controller: :comments, action: :create } do |f| %>
  <div class="columns large-11">
    <%= f.input :body, label: false, placeholder: "コメントを入力" %>
  </div>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="columns large-1" >
    <%= f.button :submit, "コメントする" %>
  </div>
<% end %>
