<div class="set" style="top:120px;position:relative;">
  <h2 style="text-align:center;"><%= @post.user.name %>さんのおすすめ!</h2><br>
  <div class="row">
    <div class="columns large-4">
      <%= image_tag @post.image_url, style: "width:100%;" %>
    </div>
    <div class="columns large-8">
      <h3><strong><%= @post.name %></strong></h3>
      <div style="color:#808080;"><%= @post.publisher %>より出版</div><br><br>
      <h3><%= @post.body %></h3><br>
      <div style="color:#808080;text-align:right;"><%= @post.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@post.created_at.wday]})")  %>に投稿</div>
    </div>
  </div>
  <div class="row" style="text-align:center;">
    <% if @is_own_post %>
      <%= link_to '編集する', edit_post_path(@post), class: 'button success' %>
    <% else %>
     <hr><br>
     <%= render 'posts/comment_form' %>
    <% end %>
    <br><hr>
    <h3>コメント一覧</h3>
    <% @comments.each do |comment| %>
      <hr>
      <div class="row">
        <div class="columns large-10" style="text-align:left;">
          <%= comment.body %>
        </div>
        <div class="columns large-2" style="text-align:left;">
          <%= comment.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[comment.created_at.wday]})")  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
