<div style="top:120px;position:relative;">
  <div class="panel">
    <div class="panel-table">
      <div class="panel-image">
        <p>
          <%= image_tag @post.image_url %>
        </p>
      </div>
      <div class="panel-desc">
        <p>
          <strong>User:</strong>
          <%= @post.user_id %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= @post.name %>
        </p>

        <p>
          <strong>Publisher:</strong>
          <%= @post.publisher %>
        </p>

        <p>
          <strong>Publish date:</strong>
          <%= @post.publish_date %>
        </p>

        <p>
          <strong>Rate:</strong>
          <%= @post.rate %>
        </p>

        <p>
          <strong>Body:</strong>
          <%= @post.body %>
        </p>
      </div>
    </div>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
    <br><hr><br>
    <%= render 'comments/form' %>
    <% @comments.each do |comment| %>

      <%= comment.body %>
    <% end %>
  </div>
</div>
