<div class="set" style="text-align:center;">

  <h1>書籍情報</h1><br>
  <h4><strong><%= @book.name %></strong></h4>
  <p style="color:#808080;">-<%= @book.publish_date %>-</p>
  <div class="row" style="text-align:left;">

    <div class="columns large-4">
      <%= image_tag @book.image_url, style: "width:100%;" %>
    </div>
    <div class="columns large-8">
      <div><%= @book.publisher %>(著)</div><br><br>
      <div><%= @book.description %></div>
    </div>

  </div>
  <br><br>
  <div>
    <%= render partial: 'books/books', locals: { book: @book } %>
  </div>
  <br><br>
</div>
