<a href="<%= home_index_path %>" class="head-box"><h5>センショ<br>ツアー</h5></a>
<div class="navbar">
  <ul class="list-nav">
    <% if user_signed_in? %>
      <li><%= link_to "マイページ", user_path(id: current_user.id) %></li>
      <li><%= link_to "設定変更", edit_user_registration_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
  </ul>

</div>
